PORT=3000
CORS_ORIGIN=*

MONGO_URI=mongodb://localhost:27017
DB_NAME=VideoDS

ACCESS_TOKEN_SECRET=change_me_access_secret
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=change_me_refresh_secret
REFRESH_TOKEN_EXPIRY=10d

RABBITMQ_URL=amqp://localhost

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_REGION=us-east-1
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password123
