RABBITMQ_URL=amqp://rabbitmq:5672
PREFETCH_COUNT=1

MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_REGION=us-east-1
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password123
MINIO_PUBLIC_BASE_URL=http://localhost:9000

WEBHOOK_BASE_URL=http://backend-api:3000
